body{
    background-color: aqua;
}

.buttonku {

    background-color: brown;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 70px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.buttonku:hover {

    color: white;
    background-color: yellowgreen;

}